<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>EmoLogic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  </head>
  <body>
    <div id="emologic-app"></div>
    <script src="https://www.gstatic.com/firebasejs/3.7.5/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyDWoIsZDCZ0eIkyrLn3iWO7hns5a4xhZys",
        authDomain: "blog-8db2f.firebaseapp.com",
        databaseURL: "https://blog-8db2f.firebaseio.com",
        projectId: "blog-8db2f",
        storageBucket: "blog-8db2f.appspot.com",
        messagingSenderId: "906482335544"
      };
      firebase.initializeApp(config);
    </script>
    <script src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
  </body>
</html>
